<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Personal</title>
   
    <!-- Link Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
     <!-- link Style Css -->
     <link rel="stylesheet" href="/public/asset/css/style.css">

</head>
<body style="background-image:url('../public/asset/img/bg-2.png')  ;">

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../public/asset/img/logo.png" alt="Logo" style="width: 50px; height: 33px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addProject">Add Project</a>
            </li>
          </ul>
          <form class="d-flex ms-md-4">
              <a href="/contact" class="btn btn-dark" style="border-radius: 15px;">Contact Me</a>
          </form>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- CONTENT -->
  <div class="container">
    <div class="content1">
      <h2 class="text-center mb-5">Selamat datang di website saya</h2>
          <div class="content">
              <p class="tittle">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                  Quas magnam ea atque, deserunt sed odit doloribus ratione quibusdam rerum sequi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat assumenda modi dolores. Voluptate, distinctio. Fugiat aperiam dignissimos vitae minima eos voluptates odit earum pariatur, quidem esse dolore! Magni, vero atque. Molestiae 
                  laboriosam repellat amet dolorem suscipit nisi aspernatur animi! Dolor, aliquid! Eligendi laborum quos iste magni ipsa quis dolorem iure.</p>
                  <form class="d-flex">
                      <a href="/contact" class="btn btn-dark">Contact Me</a>
                  </form>
                  <br>
                  <a class="cv" href="#" download>Download CV<i class="fa-solid fa-file-arrow-down fa-1x p-3"></i></a>
          </div>  
        
          <!-- Head -->
        <!-- icon start-->
      <!-- Section: Social media -->
          <section
            class="d-flex justify-content-lg-center  p-4 ">
            <!-- Center -->
            <div>
              <a href="" class="me-lg-4 text-dark">
                <i  class="fab fa-facebook fa-2xl"></i>
              </a>
              <a href="" class="me-lg-4 text-dark">
                <i class="fab fa-twitter fa-2xl"></i>
              </a>
              <a href="#" class="me-lg-4 text-dark">
                <i class="fab fa-google fa-2xl"></i>
              </a>
              <a href="#" class="me-lg-4 text-dark">
                <i class="fab fa-instagram fa-2xl"></i>
              </a>
            </div>
            <!-- Center -->
          </section>
      <!-- Section: Social media -->

      <!-- Card Start -->
          <div class="card m-auto shadow-lg" style="width: 18rem; border-radius: 10px;">
              <img src="../public/asset/img/fotoku.jpg" class="card-img-top" alt="fotoku">
              <div class="card-body">
                  <h5 class="card-tittle text-center">Hermansyah Putra</h5>
                <p class="card-text text-center text-muted" style="font-size: 14px;">CEO & Founder || Fullstact Developer</p>
              </div>
          </div>
      <!-- Card End -->
    </div> 
  </div>
  <!-- Content End -->

<!-- Project start -->

    <section id="project">
      <div class=" container mt-5 m-auto" style="max-width: 100%; background-color: #fff;">
          <div class=" row text-center pt-4">
            <div class=" col">
              <h2 style="font-weight: bold;">MY PROJECT</h2>
            </div>
          </div>
        <div class="row d-flex justify-content-start mt-4 offset-1 " id="thumb">

          {{#each projects}}
            <div class="col-4 mb-4 " >
              <div class="card" id="projectCard" style="width: 18rem;" >
                <img src="../public/asset/img/fotoku.jpg" class="card-img-top p-2" alt="...">
                <div class="card-body"><a href="/detail/{{@index}}" target="_blank" style="text-decoration: none; color: #000;">
                  <h5 class="card-title">{{this.title}}</h5>
                  <p id="durasi" class="card-subtitle text-muted" style="font-size: 12px;">Waktu pengerjaan : {{this.duration}}</p>
                  <p class="card-text">{{this.conten}}</p>

                  <div class="pt-2 pb-2 me-auto" id="material">

                    {{#each this.checkbox}}
                      <i class="{{this}}"></i>
                    {{/each}}
                

                    {{!-- <a href="#" style="text-decoration: none; "></a> 
                    <a href="#"  style="text-decoration: none;"></a>  
                    <a href="#"  style="text-decoration: none;"></a>  
                    <a href="#"  style="text-decoration: none;"></a>  --}}

                   
                  </div>
                  <div class="d-flex justify-content-between">
                    {{#if this.isLogin}}
                  <a href="/addProject/edit/{{@index}}" class="btn btn-secondary btn-sm flex-grow-1 me-3 " style="border-radius: 16px; font-size: 12px;">Edit</a>
                  <a href="/home/delete/{{@index}}" class="btn btn-secondary btn-sm flex-grow-1" style="border-radius: 16px; font-size: 12px;">Delete</a>
                    {{/if}}
                  </div>
                  
                  
                  </a>
                </div>
              </div>
            </div>
            {{/each}}

          </div>
      </div>
    </section>

<!-- Project End -->

<!-- Footer Start -->
      <footer class="bg-light ">
          <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-dark" href="#" style="text-decoration: none;">Hermansyah Putra</a>
          </div>
      </footer>
<!-- Footer End -->

<script src="/public/asset/js/projects.js"></script>

</body>
</html>